.table-container {
    margin: 5% 2% 5% 2%;
}
table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 5px 5px 5px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #ddd;
}

.action-buttons {
    margin: 2% 0% 2% 0%;
    float: right;
    display: flex;
}

.table-container a {
    text-decoration: none;
    padding: 5%;
    text-align: center;
    color: white;
}

.table-container button {
    margin: 1px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
    width: 70px;
    height: 35px;
}
.button-details {
    background-color: grey;
}
.button-add {
    background-color: rgba(0, 128, 0, 0.601);
}

.button-delete {
    background-color: rgba(255, 0, 0, 0.575);
    color: white;
    cursor: pointer;
}

.checkboxes {
    padding: 10px;
}